{:deps {com.github.hephaistox/auto-build {:git/sha "4e4ea83b71691bd42bbbd79ee3debe821e6e802a"}}
 :paths ["src"]
 :tasks
 {:requires [[auto-build.os.exit-codes] [auto-build.os.exiting :refer [exit]]]
  bp {:doc "Before push"
      :task (binding [exit (fn [exit-code & _] (when-not (zero? exit-code) exit-code))]
              (-> (or (run 'format)
                      (run 'lint)
                      (binding [*command-line-args* (conj *command-line-args* "all")]
                        (run 'clj-test))
                      (binding [*command-line-args* (conj *command-line-args* "all")]
                        (run 'cljs-node-test))
                      auto-build.os.exit-codes/ok)
                  System/exit))}
  clean {:doc "Clean temporary files"
         :requires [[auto-build.tasks.clean :as task-clean]
                    [auto-build.echo :refer [level1-header]]]
         :task (-> (task-clean/clean
                    level1-header
                    "."
                    [".DS_Store" ".nrepl-port"]
                    [".clj-kondo/.cache" ".cpcache" ".shadow-cljs" "node_modules" "tmp" "target"]
                    (current-task))
                   exit)}
  clj-test
  {:doc "Test with clj"
   :requires [[auto-build.tasks.clj-test :as build-clj-test]
              [auto-build.echo :refer [level1-header]]]
   :task (->
           (build-clj-test/clj-test level1-header "." "clj-test-runner" (current-task) ["test-clj"])
           exit)}
  cljs-browser-test
  {:doc "Test with cljs in browser"
   :requires [[auto-build.tasks.cljs-browser-test :as build-cljs-browser]
              [auto-build.echo :refer [level1-header]]]
   :task (->
           (build-cljs-browser/cljs-browser-test level1-header "." (current-task) ["browser-test"])
           exit)}
  cljs-node-test
  {:doc "Test with cljs"
   :requires [[auto-build.tasks.cljs-node-test :as build-cljs-node-test]
              [auto-build.echo :refer [level1-header]]]
   :task (-> (build-cljs-node-test/cljs-node-test level1-header "." (current-task) ["ltest"])
             exit)}
  deploy {:doc "Deploy"
          :requires [[auto-build.tasks.deploy :as task-deploy]
                     [auto-build.echo :refer [level1-header]]]
          :task (-> (task-deploy/deploy level1-header "." "main" (current-task))
                    exit)}
  deps {:doc "Update deps"
        :task (do (shell "clj -M:antq") (shell "npm upgrade"))}
  docs {:doc "Docs"
        :requires [[auto-build.tasks.docs :as build-docs] [auto-build.echo :refer [level1-header]]]
        :task (-> (build-docs/docs level1-header "." (current-task) "gh-pages" "codox")
                  exit)}
  format {:doc "Format"
          :requires [[auto-build.tasks.formatting :as task-format]
                     [auto-build.echo :refer [level1-header]]]
          :task (-> (task-format/format level1-header "." (current-task))
                    exit)}
  gha {:doc "For github action tests"
       :task (do (shell "bb clj-test test-clj -v") (shell "bb cljs-node-test all -v"))}
  heph-info {:doc "Hephaistox project info"
             :extra-paths ["env/dev/resources"]
             :requires [[auto-build.tasks.heph-info :as heph-info]
                        [auto-build.echo :refer [level1-header]]]
             :task (-> (heph-info/heph-info level1-header (current-task) ".")
                       exit)}
  lint {:doc "Lint"
        :requires [[auto-build.tasks.lint :as task-lint] [auto-build.echo :refer [level1-header]]]
        :task (-> (task-lint/lint level1-header ["src" "test"] "." (current-task))
                  exit)}
  repl {:doc "Clojure repl"
        :override-builtin true
        :requires [[auto-build.tasks.repl :as build-repl] [auto-build.echo :refer [level1-header]]]
        :task (-> (build-repl/repl level1-header "." (current-task) [] 7050)
                  exit)}
  web-deploy {:doc "Build the production version of the web app"
              :requires [[auto-build.echo :refer [level1-header]]
                         [auto-build.tasks.web.prod-build :as task-prod-build]]
              :task (task-prod-build/build-and-push level1-header
                                                    "."
                                                    (current-task)
                                                    ":uberjar"
                                                    "app"
                                                    "SASU_CAUMOND_PROD_REPO")}
  web-dev {:doc "Build the dev version of the web app"
           :requires [[auto-build.echo :refer [level1-header]]
                      [auto-build.tasks.web.dev-repl :as task-dev-repl]]
           :task (task-dev-repl/cljs-repl-watch level1-header "." (current-task) "app")}
  web-prod {:doc "Build the production version of the web app"
            :requires [[auto-build.echo :refer [level1-header]]
                       [auto-build.tasks.web.prod-build :as task-prod-build]]
            :task (task-prod-build/build level1-header
                                         "."
                                         (current-task)
                                         ":uberjar"
                                         "app"
                                         "SASU_CAUMOND_PROD_REPO")}}}