{:aliases {:antq {:deps {com.github.liquidz/antq {:mvn/version "2.10.1241"}}
                  :main-opts ["-m" "antq.core"]}
           :clj-test-runner {:exec-fn cognitect.test-runner.api/test
                             :extra-deps {com.cognitect/test-runner
                                          {:git/url "https://github.com/cognitect-labs/test-runner"
                                           :sha "3f288f1f16d167723ad87cc35b1dfee3c1681e10"}}}
           :codox {:exec-args
                   {:description "`sasu` is a website for sasu offer"
                    :doc-paths ["docs/codox"]
                    :metadata {:doc/format :markdown}
                    :name "sasu-caumond"
                    :source-uri
                    "https://github.com/hephaistox/sasu/blob/{version}/{filepath}#L{line}"}
                   :exec-fn codox.main/generate-docs
                   :extra-deps {codox/codox {:mvn/version "0.10.8"}}}
           :prod {:exec-args {:port "8080"}
                  :exec-fn kotws.server/-main}
           :repl {:exec-args {:port 7055}
                  :exec-fn auto-build.repl.entry-point/start
                  :extra-deps {cider/cider-nrepl {:mvn/version "0.50.2"}
                               cider/piggieback {:mvn/version "0.5.2"}
                               io.github.hephaistox/auto-build
                               {:git/sha "e907e29f65049a805c5a33e2f60bbe838c268a1a"}
                               org.clojars.hephaistox/auto-build {:local/root "../auto_build/"}
                               refactor-nrepl/refactor-nrepl {:mvn/version "3.10.0"}}
                  :extra-paths ["env/dev/src/clj" "env/dev/resources" "test/clj" "test/cljc"]}
           :test-clj {:extra-paths ["test/src"]
                      :main-opts ["-m" "cognitect.test-runner" "-r" ".*-test.*" "-d" "test/src"]}
           :uberjar {:exec-fn jar/uber
                     :extra-deps {io.github.clojure/tools.build {:git/sha "2a21b7a"
                                                                 :git/tag "v0.10.5"}}}}
 :deps {metosin/reitit {:mvn/version "0.7.2"}
        re-frame/re-frame {:mvn/version "1.4.3"}
        ring/ring {:mvn/version "1.8.1"}}
 :paths ["src/clj" "src/cljc" "resources"]}
